# GCP project configuration
GCP_PROJECT_ID=
GCP_REGION=

# GCP credentials (path to local service account key file)
GOOGLE_APPLICATION_CREDENTIALS=

# GCS
GS_BUCKET_NAME=
GCS_RAW_CRM_PREFIX=raw/olist/crm/
GCS_RAW_ERP_PREFIX=raw/olist/erp/

# BigQuery datasets
BQ_BRONZE_DATASET=bronze
BQ_SILVER_DATASET=silver
BQ_GOLD_DATASET=gold